<!DOCTYPE html>
  <head>
    <title>Where have you been?</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
